<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Activity (Launcher) -->
        <service
            android:name=".PomodoroService"
            android:foregroundServiceType="dataSync|mediaPlayback"
            android:exported="true" />
        <receiver android:name=".PomodoroReceiver" android:exported="false"/>

        <activity
            android:name="com.denzo.mypomodoro.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
        </activity>

        <activity
            android:name="com.denzo.mypomodoro.SplashActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- About Page -->
        <activity
            android:name="com.denzo.mypomodoro.AboutActivity"
            android:exported="true">
        </activity>

        <!-- Signup Activity -->
        <activity
            android:name="com.denzo.mypomodoro.SignUpActivity"
            android:label="Sign Up"
            android:exported="true">
        </activity>

        <!-- Signin Activity -->
        <activity
            android:name="com.denzo.mypomodoro.SignInActivity"
            android:label="Sign In"
            android:exported="true">
        </activity>

        <!-- Settings Activity -->
        <activity
            android:name="com.denzo.mypomodoro.SettingsActivity"
            android:label="Settings"
            android:exported="true">
        </activity>

        <!-- Services -->
        <service android:name="com.denzo.mypomodoro.NotificationService" />
        <service android:name="com.denzo.mypomodoro.EndNotificationService" />

        <service
            android:name="com.denzo.mypomodoro.applicationlock.ApplicationLockService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>

</manifest>
